.column {
    background-color: var(--light-background-color);
    border-radius: 5px;

    .column-item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
    }
}