.search-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px; 
  border: none;
  border-radius: 9999px;
  background-color: var(--background-color);
  transition: background 100ms linear;
  position:relative;
}
.search-button:hover {
background-color: var(--light-background-color);
}
.feather-search {
color: var(--text-color);
}
.input {
  left: 10px;
  transition: .3s;
  margin: 15px; 
}

