        .language-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px; 
            width: 40px; 
            border: none;
            border-radius: 9999px;
            background-color: var(--background-color);
            transition: background 100ms linear;
        }
        .language-button:hover {
          background-color: var(--light-background-color);
        }
        .feather-globe {
          color: var(--text-color);
      }