        .language-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px; 
            width: 40px; 
            border: none;
            border-radius: 9999px;
            background-color: var(--background-color);
            transition: background 100ms linear;
        }
        .language-button:hover {
          background-color: var(--light-background-color);
        }
        .feather-globe {
          color: var(--text-color);
      }
      .popup-menu {
        text-align: center;
        font-size: 22px;
        position: absolute;
        top: 100px;
        width: 120px;
        border-radius: 15px;
        color: var(--text-color);
        background-color: var(--light-background-color);

          .item {
            display: block;
            cursor: pointer;
          }
          .item:hover {
            opacity: .5;
          }
      }
      