@import '../styles/index.scss';

html {
    transition: background-color 100ms linear;
    background-color: var(--background-color);
}

html[data-theme='light'] {
    --text-color:black;
    --reverse-text-color:white;
    --background-color: white;
    --reverse-background-color: black;
    --light-background-color: rgba(35, 39, 47, .05);
}

html[data-theme='dark'] {
    --text-color:white;
    --reverse-text-color:black;
    --background-color: rgb(35 39 47 / 1);
    --reverse-background-color: white;
    --light-background-color: rgba(175, 169, 169, 0.05);
}



