.list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin: 50px 0;

    .left-container {
        display: flex;
        justify-content: space-between;
        width: 400px;

        .logo{
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 5px;
        }
        .input{
            align-self: flex-end;
            height: 35px;
            width: 300px;
            padding: 10px;
        }
    }   

    .right-container {
        display: flex;
        justify-content: space-between;
        width: 400px;

        .allsides {
            padding: 5px 10px;
            color: #000;
            background:
              linear-gradient(currentColor 0 0) 0 0,
              linear-gradient(currentColor 0 0) 0 0,
              linear-gradient(currentColor 0 0) 100% 100%,
              linear-gradient(currentColor 0 0) 100% 100%;
            background-size: var(--d, 0) 3px, 3px var(--d, 0);
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .allsides:hover {
            --d: 100%;
          }
          .allsides:active {
            background-color: green;
            transition: .1s;
          }
    }
    


}