.board-item {
    text-align: left ;
    width: 30%;
    height: 950px;
    border: solid black 3px;
    border-radius: 25px;
    padding: 15px;
}

.title {
    text-align: center;
    border: solid black 3px;
    border-radius: 25px;
}
.main-text {
    font-size: 20px;
}
.date {
    font-size: 22px;
}